.App {
  text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
}

.info {
    display: flex;
    align-items: center !important;
    margin-right: 5px;
}
